body {
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 3em;
}

h2 {
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.5em;
}

p {
    font-size: 1.5em;
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    line-height: 1.4em;
    color: #333;
}

p2 {
    font-size: 1.3em;
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    line-height: 1.5em;
    color: #333;
}

p3 {
    font-size: 1.0em;
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    line-height: 1.1em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* div { position:fixed; width:50%; height:50% } */
#NW { background:orange; height: 325px  }
#NE { background:blue; height: 325px     }
#NS { background:cyan; height: 325px     }

a.border {
  text-decoration: none;
  color: #999;
  padding: 20px 20px;
  background-color: lightblue;
}

.robot {
	width: 100px;
	padding: 10px 10px;
}

.screenshot {
	width: 360px;
	padding: 10px 10px;
}

.screenshot_big {
	width: 700px;
	padding: 10px 10px;
}

.icon {
	height: 250px;
  padding: 0px 30px
}
